@charset "UTF-8";

@font-face {
    font-family: 'Outfit';
    src: url(../fontes/static/Outfit-VariableFont_wght.ttf) format(truetype);
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap'); 



/*- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)


Font size (paragraph): 15px
Weights: 400, 700*/

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: hsl(212, 45%, 89%);
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 350px;
    height: 550px;
    transform: translate(-50%, -50%);
}

div#code {
    background-image: url(../images/image-qr-code.png);
    background-size: cover;
    border-radius: 10px;
    margin: 15px;
    width: 320px;
    height: 300px;
}

div#texto {
    padding: 0px;
}
h1 {
    font-family: 'Outfit';
    font-weight: 700;
    padding: 5px 5px 5px 5px;
    margin: 5px 25px 5px 25px;
}

p {
    font-family: 'Outfit';
    font-weight: 400;
    padding: 10px 25px 10px 25px;
    margin: 1px 25px 1px 25px;
}