@charset "UTF-8";


@media screen and (min-width: 992px) {
    main {
        width: 990px;
        height: 430px;
        transform: translate(-50%, -50%);
        transition: width 0.5s, height 0.5s;
        transition-timing-function: ease;
    }

    section#sedans {
        border-radius: 10px 0px 0px 10px;
    }

    section#suvs {
        transform: translateX(330px) translateY(-430px);
    }

    section#luxury {
        transform: translateX(660px) translateY(-860px);
        border-radius: 0px 10px 10px 0px;
    }
}