@charset "UTF-8";

@media screen and (min-width: 992px) {
    html, body {
        background-image: url(../images/pattern-background-desktop.svg);
    }
    main {
        width: 410px;
    }

    div#foto {
        width: 410px;
    }

    section#plano  {
        width: 360px;
    }

    div#compra {
        width: 240px;
        margin: 10px 20px 10px 20px;
    }

    div#cancelcompra {
        width: 200px;
        margin: 10px 40px 10px 40px;
    }
    div#changeplano {
        transform: translateX(280px) translateY(-95px);
    }
}