@charset "UTF=8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


:root {
/*primary*/
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);

/*neutral*/
--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);

/*Font size: 15px
weights: 200, 400, 600*/

--fonte-padrao:'Poppins', sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
}
html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 330px;
    height: 1700px;
    background-color: var(--Very-Light-Gray);
    border-radius: 10px;

    transform: translate(-50%, -18%);
}

article {
    width: 330px;
    height: 240px;
    font-family: var(--fonte-padrao);

}

article > h1 {
    font-weight: 200;
    padding: 10px 10px 2px 10px;
    color: var(--Grayish-Blue)
}

article > h1#destacado {
    font-weight: 600;
    padding: 2px 10px 10px 10px;
    color: var(--Very-Dark-Blue);
}

article > p {
    padding: 10px 20px 10px 20px;
    color: var(--Grayish-Blue);
}

section.caixas {
    width: 330px;
    height: 300px;
    border-top: 5px solid ;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.384);
    font-family: var(--fonte-padrao);
    margin-bottom: 40px;
}
section.caixas > img {
    transform: translate(240px,90px);
}

section.caixas > h2 {
    padding: 20px 25px 10px 25px;
    color: var(--Very-Dark-Blue);
}

section.caixas > p {
    padding: 0px 25px ;
    color: var(--Grayish-Blue);
}


section#supervisor {
    border-color: var(--Cyan);
    
}
section#teambuilder {
    border-color: var(--Red);
}
section#karma {
   border-color: var(--Orange);
}

section#calculator {
    border-color: var(--Blue);
}