@charset "UTF-8";

/*- Violet: hsl(257, 40%, 49%)
- Soft Magenta: hsl(300, 69%, 71%)


<i class="fa-brands fa-facebook"></i>
<i class="fa-brands fa-facebook"></i>
<i class="fa-brands fa-instagram"></i>
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

:root {
    --fonte-open: 'Open Sans';
    --fonte-pop: 'Poppins';

    --violeta: hsl(257, 40%, 49%);
    --softvioleta: hsl(300, 69%, 71%);
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg-mobile.svg);
    background-color: var(--violeta);
    background-repeat: no-repeat;
    background-size: cover;
}
div#logo {
    width: 330px;
    height: 70px;
    margin: 1px 1px 1px 1px;
}

div#logo > img {
    width: 150px;
    padding: 1px 0px 1px 0px;
}

header {
    width: 330px;
    height: 235px;
    background-image: url(../images/illustration-mockups.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
 
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 330px;
    height: 780px;

    transform: translate(-50%, -40%);
}

article {
    width: 330px;
    height: 200px;
}

article > h1 {
    text-align: center;
    font-family: var(--fonte-pop);
    color: white;
}

article > p {
    font-family: var(--fonte-open);
    font-weight: 400;
    padding: 5px 27.5px 5px 27.5px;
    color: white;
}

div#registro {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 220px;
    height: 40px;
    background-color: white;
    cursor: pointer;
    border-radius: 20px;
    margin: 1px 1px 1px 1px;
    transform: translate(-50%, 490%);
}

div#registro > p {
    text-align: center;
    padding: 9px 1px 9px 1px;
    font-family: var(--fonte-open);
    color: var(--violeta);
}

div#redes {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 220px;
    text-align: center;
    height: 70px;
    transform: translate(-50%, 420%);
}

div#redes > img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}


img#logo2 {
    margin: 19px 25px 0px 25px;
}